* {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 12px arial;
}

.wrapper {
    height: 618px;
    width: 100%;
    /* background: #ccc; */
    position:relative;
    min-width: 1000px;
}

.header {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ebebeb;
    line-height: 32px;
    position: relative;
    
}

.left {
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-right: 15px;
    color: #555;
}

.left .weather {
    float: left;
    height: 20px;
    text-align: center;
    margin: 7px 0 0 15px;
    line-height: 20px;
}

.left .weather .weather-pic {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("./img/1.png");
    vertical-align: middle;
    margin-right: 5px;
}

.left .weather .weather-temp {
    margin-left: -4px;
    margin-right: 9px;
}

.left .weather .weather-polution-name,
.weather-polution-num {
    margin-right: 7px;
    margin-left: -4px;
}

.left .weather .show-vertical {
    margin-right: 11px;
    margin-left: -4px;
}

.left .left-menu {
    float: left;
}

.left .left-menu a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-right: 19px;
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;
    text-shadow: none;
    margin-left: -4px;

}

.left .left-menu a:nth-child(1) {
    margin-left: 0px;
}

.right {
    height: 100%;
    width: 590px;
    position: absolute;
    top: 0;
    right: 0;

}

.right-box {
    float: right;
    position:relative;
}

.right-menu {
    height: 32px;
    float: left;
    line-height:32px;
}

.right-menu a {
    display: inline-block;
    height: 32px;
    margin-left: 19px;
    color: #555;
}
.right-menu .more-product{
    width:86px;
    background:#398bfb;
    color:white;
    text-align:center;
    text-decoration:none;
}
.right-menu .more-product span{
    color:white;
}
.right-menu .more-product:hover ,.right-menu-product-menu{
    /* display:block; */
}
.right-menu a span {
    font-size: 13px;
    font-weight: bold;
    line-height:32px;
    color: #555;
}
.right-menu .right-menu-user span{
    font-weight:normal;
}
.right-menu .right-menu-set span{
    font-weight:normal;
}
.right-menu .more-product span{
    font-weight:normal;
}
.right-menu .right-menu-user-menu{
    position:absolute;
    left:321px;
    top:26px;
    padding-top:6px;
    display: none;
}
.right-menu .right-menu-user-menu ul{
    box-shadow: 1px 1px 5px #d1d1d1;
    border: 1px solid #E3E3E3;
}
.right-menu .right-menu-set-menu{
    position:absolute;
    left:382px;
    top:26px;
    padding-top:6px;
    /* display:none; */
}
.right-menu .right-menu-set-menu ul{
    box-shadow: 1px 1px 5px #d1d1d1;
    border: 1px solid #E3E3E3;
}
.right-menu .right-menu-product-menu{
    position:absolute;
}

.right-menu .right-menu-user-menu ul li{
   width:60px;
   height:25px;
   line-height: 25px;
   padding-left:9px;
   cursor:pointer;
}
.right-menu .right-menu-user-menu ul li:hover{
    background:#38f;
}
.right-menu .right-menu-set-menu ul li{
    width:60px;
    height:25px;
    line-height: 25px;
    padding-left:9px;
    cursor:pointer;
}
.right-menu .right-menu-set-menu ul li:hover{
    background:#38f;
}
/* ********************三角****************** */
.triangle{
    position:absolute;
    display:inline-block;
    width:0;
    height:0;
    border:5px solid transparent;
    border-bottom:5px solid #e3e3e3;
    top:-4px;
    left:30px;
    z-index:2;
}
.triangle em{
    position:absolute;
    display:inline-block;
    width:0;
    height:0;
    border:5px solid transparent;
    border-bottom:5px solid #fff;
    top:-4px;
    left:-5px;
    z-index:1;
}

/* ********************************************************* */
.right-menu-product-menu{
    width:86px;
    position:absolute;
    top:0px;
    right:0px;
    border-left:1px solid #e7e7e7;
    background:#f9f9f9;
    display:none;
}
.right-menu-product-menu .product-menu li{
    width:66px;
    height:76px;
    margin:0 auto;
    text-align:center;
    border-bottom:1px solid #f0f0f0;
    cursor:pointer;
}
.right-menu-product-menu .product-menu li:nth-child(1){
    height:30px;
    padding-bottom:10px;
    line-height:30px;
}
.right-menu-product-menu .product-menu li:nth-child(9) {
    margin-top:15px;
    margin-bottom:0;
    height:30px;
}
.right-menu-product-menu .product-menu li img{
    margin:10px 15px 5px 15px;
}
.right-menu-product-menu .product-menu li span:hover{
    text-decoration:underline;
}


/* ********************************************************** */
.container{
    /* position:absolute; */
    width:641px;
    height:260px;
    /* border:1px solid red; */
    margin:0 auto;
}
.container .log{
    width:270px;
    height:129px;
    background-image:url("./img/baidu.png");
    background-size:100% 100%;
    margin:72px auto 18px;
}
.container .search{
    width:640px;
    height:40px;
    
    vertical-align:bottom;
    position:relative;
    /* line-height:40px; */
}
.container .search .search-left{
    height:38px;
    position:absolute;
    
}
.container .search .search-left input{
    width:480px;
    height:20px;
    outline:none;
    font: 16px arial;
    border: 1px solid #ccc;
    /* border:none; */
    padding:9px 48px 9px 7px;
}
.container .search .search-left input:hover{
    border:1px solid #999;
}
.container .search .search-left input:focus{
    border:1px solid #38f;
}
.container .search  .search-left span{
    position:absolute;
    right:11px;
    top:50%;
    margin-top:-8px;
    display:inline-block;
    width:18px;
    height:16px;
    background-image:url("./img/search.png");
    background-position:0px 0px;
    cursor:pointer;
}
.container .search  .search-left span:hover{
    background-position:0px 18px;
}
.container .search .search-right{
    position:absolute;
    /* display:inline-block; */
    background:#38f;
    color:white;
    width:100px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:16px;
    right:4px;
    cursor:pointer;
}
.container .search .search-right:hover{
    background:#317ef3;
}